body {
	font-family: "Segoe UI", sans-serif;
}

.countdown-box {
	width: 240px;
	height: 60px;		
	text-align: center;
}

.countdown-titles {
	display: inline-block;	
	float: left;
	margin: -15px auto;				
	height: 60px;
	width: 60px;	
	padding: 1px;	
	font: 10px "Segoe UI", sans-serif;
	font-weight: 200;
}

.countdown-values {
	display: inline-block;
	margin: 0 auto;	
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #c0c0c0;
	font: 20px/60px "Segoe UI", sans-serif;
	font-weight: bold;	
}

.hide {
	display: none;
}