body {
	font-family: "Segoe UI", "Tahoma", sans-serif;
}

.countdown-box {
	width: 372px;
	height: 60px;	
	border: 1px solid #c0c0c0;
}

.countdown-titles {
	position: relative;
	top: 40px;
	left: 0px;
	float: left;
	font-size: 12px;
	font-weight: 200;
	text-align: center;
}

.countdown-values {
	display: block;
	float: left;
	background-color: #fff;
	/*top: 25px;*/
	width: 60px;
	height: 60px;
	border: 1px solid #c0c0c0;
	/*padding: 10px 10px 10px 10px;*/
	border: 1px solid #c0c0c0;
	font-weight: bold;
	font-size: 150%;
	text-align: center;
}