.nav {
	width: 400px;
	height: 40px;	
	background-color: #666;
	border: 1px solid #666;	
	font: 12px/40px sans-serif;
	text-align: center;	
	font-weight: bold;
}

.nav:hover {
	background-color: #c0c0c0;
}

.scroll {
	width: 400px;
	height: 60px;	
	background-color: #c0c0c0;
	border: 1px solid #666;
	font: 14px / 60px sans-serif;
	text-align: center;
}

.scroll:hover {
	background-color: #ffffff;
}

.hide {
	display: none;
}

.square-thumb {
	width: 150px;
	height: 150px;
}