body {
	font-family: "Segoe UI", sans-serif;
}

#scroll-image {
	width: 650px;
	height: auto;
	margin-left: 10px;
	float: left;
	padding: 5px 5px 5px 5px;
	border: 1px solid #cccccc;
	overflow: hidden;
}

	#scroll-image img {
		width: 100%;
	}

#scroll-nav {
	width: 400px;
	height:auto;
	float: left;
}

#up {
	background: #666666 url('../images/nav-up.png') no-repeat center;
}

#down {
	background: #666666 url('../images/nav-down.png') no-repeat center;
}

.nav {
	width: 400px;
	height: 30px;	
	cursor:pointer; cursor: hand;
}

.nav:hover {
	background-color: #c0c0c0;
}


.thumb-box {
	display: table;
	width:  400px;
	height: 100px;	
	left: 0px;
	text-align: center;
	cursor:pointer; cursor: hand;
}

.thumb {
	float: left;
}

.thumb-text {
	margin: 0 auto;	
	background-color: #c0c0c0; 
	height: inherit;
	font: 18px/100px sans-serif;
}

.thumb-text:hover {
	background-color: #cccccc;
}